<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./nav.ejs', {links: links}) %>
    <form action="/new" METHOD="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" />
      <label for="text">Message:</label>
      <textarea name="text" id="text"></textarea>
      <button>Submit</button>
    </form>
  </body>
</html>
